*{
    margin: 0;
}
.navbar{
    height: 100px;
    background-color: black;
    color: white;
}

.list{
    display: flex;
    justify-content: end;
    font-size: 4vh;
    background-color:rgb(64, 59, 59);
}
li{
   padding: 0 1vh 0 2vh;
}
